<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/img/fav.ico">
    <title>{{ title }}</title>

	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/path/to/font-awesome/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Montserrat|Ramabhadra" rel="stylesheet">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135074053-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){
				dataLayer.push(arguments);
			}
			gtag('js', new Date());
			gtag('config', 'UA-135074053-1');
		</script>

</head>

<body>

<div class= "navvar">
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-6 mb-3">
      <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2" href="/">Juan Zapien</a></h5>
      <nav class="my-2 my-md-0 mr-md-3" >
        <a id= "/" class="p-2" href="/" >Projects</a>
        <a id="/about" class="p-2" href="about">About</a>
        <a class="p-2" href="https://drive.google.com/file/d/1fWOUZtYGko8noG-Ivjoc81C3WgBm-qLt/view?usp=sharing">Resume</a>
      </nav>
    </div>
	</div>

{{{body}}}

<footer>
	<div class="bottom-nav">
			<div class="made">Made by Juan Zapien</div>
			<div class=""> 
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link disabled" href="https://github.com/1Zapien" target="_blank"><i class="fab fa-github-alt fa-2x" aria-hidden="false"></i> </a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="mailto:jmzapien@ucsd.edu" target="_blank"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="https://www.linkedin.com/in/juan-zapien-364599160/" target="_blank">
									<i class="fab fa-linkedin-in fa-2x" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
		</div>
	</div>
</footer>




	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script> 
</body>
</html>