<div class="about">

	<div class="about__cards">

		<div class="about__info">
			{{!-- <p>What's up,</p> --}}
			<p>Hello,</p>
			<h2>I'm Juan Zapien.</h2>
			<p>I'm a Front End Developer, currently using HTML, CSS, Javascript, and React to bring websites to life. I enjoy
				making websites that are visually appealing and that provide quality user experience. I graduated from the
				University of California, San Diego with a Bachelor's degree in Human Computer Interactions with a specialization
				in design and interactions.</p>

			{{!-- <h5>Contact</h5>
			<p>Feel free to send me an <a class="nav__link disabled" href="mailto:zapien.juanm@gmail.com" target="_blank">EMAIL</a>
			</p> --}}

		</div>

		<div class="about__img">
			<img src="/img/new_image.jpeg" width="100%;">
		</div>

	</div>
</div>