
  <div class="row">	
  	<div class="col-sm-6">
  		<div class = "img" style="padding: 20px;"><img src="/img/juanleaves.jpg" width="75%;"> </div>
  	</div>


    <div class="col-sm-6">
      <h2>About</h2><br>
      <p>Hello, I’m Juan Zapien! I’m a Cognitive Scientist graduating from UCSD in the winter of 2018. I enjoy making new designs and watching them come to life through all levels of the implementation proccess.</p>
    </div>
  </div>
