
<div class="row">	
 

	<div class="container-fluid bg-grey">
	  <div class="row">
	    <div class="col-md-6">
	      <div class = "img" style="padding: 20px;"><img src="/img/juanleaves.jpg" width=95%;"> 
	  		</div>
	    </div>
	    <div class="col-md-4 px-2 my-4 text-muted">
          <div class="title"> <h4>About</h4> </div>
        
          <p class="lead">Hello, I’m Juan Zapien! I’m a First-Generation College student studying Cognitive science at the University of California, San Diego and will be graduating in the Fall of 2018. </p>
        </div>
	  </div>
	</div>
</div>






