
<div class="row">	
 

	<div class="container-fluid bg-grey">
	  <div class="row">
	    <div class="col-md-6">
	      <div class="img-about"><img src="/img/juanleaves1.jpg" width="100%;"></div>
	    </div>

	    <div class="col-md-6 px-6 my-4 text-muted">
          <!--<div><h4>Ux Researcher / Web Developer</h4> </div>-->
          <p class="lead"><b>Hello, I’m Juan Zapien!</b> I recently graduated from the University of California, San Diego with a Bachelor of Science in Cognitive Science with a specialization in design and interactions.</p>
					<p class="lead">I previously worked with Global Teams in Engineering Services (TIES), a program that helps find solutions to social problems in San Diego. At Global TIES, I worked on projects from the ground up. I helped create a data collection and visualization tool for the Live Well Community Market Program and an educational Android game that helps out communities affected by child diabetes.</p>
        </div>
	  </div>
	</div>
</div>






