<div class="about">

	<div class="about__cards">

		<div class="about__info">
			<p>Hello there,</p>
			<h2>I'm Juan Zapien</h2>
			<p>I'm a Front End Developer, currently using HTML, CSS, Javascript,and React to bring Websites come to life. I
				graduated from the University of California, San Diego with a Bachelor of Human Computer Interactions with a
				specialization in design and interactions.</p>
		</div>

		<div class="about__img">
			<img src="/img/new_image.jpeg" width="100%;">
		</div>

	</div>
</div>