
<div class="row">	
 

	<div class="container-fluid bg-grey">
	  <div class="row">
	    <div class="col-md-6">
	      <div class = "img" style="padding: 20px;"><img src="/img/juanleaves1.jpg" width="100%;"> 
	  		</div>
	    </div>
	    <div class="col-md-4 px-2 my-4 text-muted">
          <div class="title"> <h4>Ux Researcher / Web Developer</h4> </div>
					<br>
          <p class="lead">Hello, I’m Juan Zapien! I recently graduated from the University of California, San Diego with a Bachelor of Science in Cognitive Science with a specialization in design and interactions.</p>
        </div>
	  </div>
	</div>
</div>






