

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h4 class="display-4 font-weight-normal">Logo</h4>
          <p class="lead font-weight-normal">Hello | I’m Juan Zapien, a Full stack web developer.</p>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>
  </div>

    <main role="main">

      <div class="album py-5">
        <div class="container">

          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 shadow-sm">
                <div class = "img" style="padding: 20px;"><img src="/img/project1.jpg" width="75%;"> </div>
                <div class="card-body">
                  <p class="card-text"> On this project I worked in a group of 8 people to create a web app that helped with collecting data.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 shadow-sm">
                <div class = "img" style="padding: 20px;"><img src="/img/project2.jpg" width="75%;"> </div>
                <div class="card-body">
                  <p class="card-text">On this project I worked in a group of 4 people to create a web app that helped with collecting data on students study habits.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </main>





    <footer class="container py-5">
      <div class="row">
        <div class="col-6 col-md">
          <h5> <p class="text-primary"> Skills </p></h5>
        </div>
        <div class="col-6 col-md">
          <h5>Languages</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted nav-link disabled">HTML</a></li>
            <li><a class="text-muted nav-link disabled">CSS</a></li>
            <li><a class="text-muted nav-link disabled">JavaScript</a></li>
            <li><a class="text-muted nav-link disabled">MATLAB</a></li>
            <li><a class="text-muted nav-link disabled">Python</a></li>
            <li><a class="text-muted nav-link disabled">C++</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Tools</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted nav-link disabled">Figma</a></li>
            <li><a class="text-muted nav-link disabled">InVision</a></li>
            <li><a class="text-muted nav-link disabled">Git</a></li>
            <li><a class="text-muted nav-link disabled">Sketch</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>User Experience</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted nav-link disabled">Prototyping</a></li>
            <li><a class="text-muted nav-link disabled">Storyboarding</a></li>
            <li><a class="text-muted nav-link disabled">User Testing</a></li>
            <li><a class="text-muted nav-link disabled">Needfinding</a></li>
            <li><a class="text-muted nav-link disabled">Wireframing</a></li>
          </ul>
        </div>
      </div>
    </footer>

