
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left">
        <div class="col-md-6 p-lg-2 mx-auto my-4">
          <p class="lead text-secondary font-weight-normal"><b>Hello, I am Juan.</b> I enjoy making new designs and watching them come to life through every level of the implementation process.</p>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>
  </div>

    <main role="main">
      <div class="album ">
        <div class="container">

          <div class="row">
            <div class="col-md-6">
                <div class="container2">
                  <a href="https://lwcmp.herokuapp.com/">
                  <div class = "img"><img src="/img/project3.jpg" width="100%;">  <href="https://drive.google.com/open?id=13XRUqEFaOLvMjzzPNhHDznh_FIIYAP1k" target="_blank" alt="Avatar" class="image"> </div>
                  <div class="overlay">LWCMPT<br>
                  LWCMPT is a web app that helps the UCSD Center for Community Health collect data while on the go.</div>
                  </a>
                </div>
          </div>
          <div class="col-md-6">
                <div class="container2">
                  <a href="#">
                  <div class = "img"><img src="/img/project2.jpg" width="100%;">  <href="https://drive.google.com/open?id=13XRUqEFaOLvMjzzPNhHDznh_FIIYAP1k" target="_blank" alt="Avatar" class="image"> </div>
                  <div class="overlay">NueroViz<br>
                  NueroViz is a web app that helps students study the brain and helps track their study time.</div>
                  </a>
                </div>
          </div>
        </div>
      </div>
    </main>

    <iframe src="https://open.spotify.com/embed/user/1227129483/playlist/040xqJM7ZmGtlQsB4fVa29" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>




    <footer class="container py-5">
      <div class="row">
        <div class="col-6 col-md">
          <h6> <p class="text-primary"> Skills </p></h6>
        </div>
        <div class="col-6 col-md">
          <h6>Languages</h6>
          <ul class="list-unstyled text-small">
            <small>
            <li><a class="text-muted nav-link disabled">HTML</a></li>
            <li><a class="text-muted nav-link disabled">CSS</a></li>
            <li><a class="text-muted nav-link disabled">JavaScript</a></li>
            <li><a class="text-muted nav-link disabled">MATLAB</a></li>
            <li><a class="text-muted nav-link disabled">Python</a></li>
            <li><a class="text-muted nav-link disabled">C++</a></li>
            </small>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h6>Tools</h6>
          <ul class="list-unstyled text-small">
            <small>
              <li><a class="text-muted nav-link disabled">Figma</a></li>
              <li><a class="text-muted nav-link disabled">InVision</a></li>
              <li><a class="text-muted nav-link disabled">Git</a></li>
              <li><a class="text-muted nav-link disabled">Sketch</a></li>
            </small>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h6>User Experience</h6>
          <ul class="list-unstyled text-small">
            <small>
            <li><a class="text-muted nav-link disabled">Prototyping</a></li>
            <li><a class="text-muted nav-link disabled">Storyboarding</a></li>
            <li><a class="text-muted nav-link disabled">User Testing</a></li>
            <li><a class="text-muted nav-link disabled">Needfinding</a></li>
            <li><a class="text-muted nav-link disabled">Wireframing</a></li>
            </small>
          </ul>
        </div>
      </div>
    </footer>



