body{
  background-color: #fff;
  width: 100;
}

* {box-sizing: border-box;}

.navvar{
  margin-left: 5%; 
	margin-right: 5%; 
	margin-top: 2%; 
	margin-bottom: -2%; 
  z-index: 1;
  font-size: 1.3rem;
  font-weight: 600;
}

.container-fluid{
	text-align: center;
}

.container-fluid h4{
	height: auto;
	text-align: center;
}

.home-intro{
  font-size: 1.75rem;
  font-weight:400;
  color: #6c757d;
}

.container2 {
  position: relative;
  width: 100%;
}


.overlay{
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  color: #f1f1f1; 
  transition: .5s ease;
  opacity:0;
  color: #dedede;
  font-size: 15px;
  /*height: 100%;*/
  font-family: sans-serif;
  width: 100%;
}


.container2:hover .overlay {
  opacity: 1;
}

div.col-md-6{
  padding-left: 0px;
  padding-right: 0px;
  height: 75%;
}