* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #383939 !important;
  width: 100;
  font-size: 1.2rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  a {
    all: unset;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  a:hover {
    color: white;
    opacity: 0.6;
    text-decoration: underline 2px;
    cursor: pointer;
  }
}

.navvar {
  max-width: 95vw;
  margin: auto;
  margin-top: 2%;
  text-align: right;
}
a.navbar-brand {
  font-size: 2rem;
  font-weight: 900;
}

main {
  text-align: center;
  max-width: 90vw;
  margin: auto;
}

.nav-link {
  padding: 0.5rem 0.5rem;
  color: #fff;
}

.active {
  opacity: 0.6;
  text-decoration: underline 2px;
}

.nav {
  float: right;
}

/*//home////*/
.home__intro {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0rem;
}

.home__introInfo {
  max-width: 90vw;

  h1 {
    line-height: 4.5rem;
    font-size: 4rem;
    font-weight: 400;
    word-break: keep-all;
    max-width: 80vw;
  }
}

.projects {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 5rem;
  margin-bottom: 2rem;
}

.projects__cards {
  display: flex;
  margin: 2rem 0rem 1rem;
  flex-direction: column;
  max-width: 40vw;
}

.projects__thumbnail {
  img {
    max-width: 100%;
    filter: none;
    -webkit-filter: grayscale(0);
    transition: transform 0.5s ease;
  }

  img:hover {
    cursor: pointer;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transform: scale(1.1);
  }
}

.projects__info {
  flex-basis: 100%;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2rem;

  .projects__title {
    font-size: 3rem;
    text-decoration: none;
  }

  p {
    opacity: 0.6;
    font-size: 1.2rem;
    line-height: 1.75rem;
    padding: 0rem;
  }
}

.projects__links {
  width: fit-content;
  padding-top: 0.5rem;
  border-top: 2px solid grey;
  padding: 1rem 0rem;
  margin: auto;
  a {
    opacity: 1;
    padding-right: 1rem;
  }

  a:hover {
    opacity: 0.6;
    text-decoration: underline;
    color: white;
    cursor: pointer;
  }
}

/*projects page*/
.project__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  p {
    opacity: 0.6;
    font-size: 1.2rem;
  }
}

.project__cards {
  width: 90vw;
}

.project__name {
  padding: 5rem 0rem 2rem;
  h2 {
    font-size: 4rem;
  }

  .project__type {
    padding-bottom: 2rem;
  }
}

.project__summary {
  margin: 2rem 0rem;

  h2 {
    font-size: 1.5rem;
  }
  p {
    line-height: 1.75;
    opacity: 0.6;
  }
}

.project__data {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0rem;
  .project_halfData {
    width: 40vw;
    margin: 2rem 1rem;

    h2 {
      font-size: 1.5rem;
    }
    p {
      padding-right: 2rem;
      opacity: 0.6;
      line-height: 1.75;
    }

    a {
      padding-right: 3rem;
      display: inline-block;
    }
  }
}

img.rounded {
  width: 100%;
  margin-top: 16px;
}

.titles p {
  margin-right: 30px;
  color: #fff;
}

/**about*/

.about {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 3rem 0rem;
}

.about__cards {
  display: flex;

  width: 90vw;
}

.about__info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;

  h2 {
    padding: 0.5rem 0rem 1.5rem 0rem;
    font-size: 2.5rem;
  }

  p {
    line-height: 1.75rem;
    margin-bottom: 0rem;
    font-size: 1rem;
    opacity: 0.6;
  }

  a {
    opacity: 0.6;
  }

  a:hover {
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
  }
}
.about__img {
  padding: 1.5rem;
  max-width: 700px;
}

.title {
  font-size: 1.5rem;
}

/*footer */
.bottom__nav {
  display: flex;
  font-size: 1.375rem;
  padding: 2rem 6% 2rem 7%;
  color: #fff;
  justify-content: space-between;
  margin: auto;
  width: 85vw;
  border-top: 2px solid grey;
  margin-top: 4rem;

  p {
    opacity: 0.6;
  }
}

.nav__link {
  padding-right: 1rem;
}

@media (max-width: 800px) {
  .body {
    font-size: 1rem;
  }

  .navvar {
    font-size: 1rem;
  }

  .home__intro {
    padding: 3rem 0rem;
  }
  .home__introInfo {
    h1 {
      line-height: 2rem;
      font-size: 1.5rem;
      margin: 2rem 1.5rem;
    }
  }

  .made {
    padding-left: 10px;
    font-size: 1rem;
  }

  p.lead {
    font-size: 1rem;
    padding-left: 3%;
  }

  .about {
    flex-flow: column wrap;
  }
  .about__cards {
    flex-direction: column;
  }

  .about__info {
    max-width: 100%;
    text-align: center;
    p {
      margin: 2rem 0rem;
      line-height: 1.75rem;
      font-size: 1rem;
    }
    h2 {
      line-height: 2rem;
      font-size: 2rem;
    }
  }

  .about__img {
    max-width: 100%;
  }

  .projects {
    gap: 0rem;
  }

  .projects__cards {
    flex-direction: column;
    max-width: 90vw;
    margin: 3rem 0rem 1rem;
  }

  .projects__info {
    padding: 1rem 0rem;

    .projects__title {
      line-height: 2rem;
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.375rem;
    }

    .projects__links a {
      font-size: 1rem;
    }
  }

  .project__name {
    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .project__summary {
    p {
      font-size: 1rem;
      line-height: 1.9;
    }
  }

  .project__data {
    .project_halfData {
      width: 90vw;
      h2 {
        line-height: 2rem;
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.9;
      }

      a {
        font-size: 1rem;
        line-height: 1.9;
      }
    }
  }

  .bottom__nav {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .bottom__links {
    width: fit-content;
    padding-top: 0.5rem;

    padding: 1rem 0.5rem 0rem;
  }

  .bottom__nav {
    font-size: 1rem;
  }
  a.nav__link {
    font-size: 1rem;
  }

  .projects__thumbnail {
    img {
      max-width: 100%;
      filter: none;
      -webkit-filter: grayscale(0);
      transition: transform 0.5s ease;
    }

    img:hover {
      cursor: pointer;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      transform: scale(1.05);
    }
  }
}
