
body{
  background-color: #fff;
  width: 100;
  font-size: 1.3rem !important;
}

* {box-sizing: border-box;}

.navvar{
  margin-left: 5%; 
	margin-right: 5%; 
	margin-top: 2%; 
	margin-bottom: -2%; 
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: right;
  font-family: 'Ramabhadra', sans-serif;
}
main{
  text-align: center;
}
a.navbar-brand{
  font-size: 2rem;
  font-weight: 600;
}



/*//home////*/

div.row{
  margin-left: 2%;
  margin-right: 2%;
}

.container-fluid{
	text-align: center;
}

.container-fluid h4{
	height: auto;
	text-align: center;
}

.home-intro{
  font-size: 1.75rem;
  font-weight:500;
  color: #6c757d;
  font-family: 'Ramabhadra', sans-serif;
}

.container2 {
  position: relative;
  width: 100%;
}


.overlay{
  height: 100%;
  position: absolute; 
  bottom: 0; 
  transition: .5s ease;
  opacity:0;
  color: #2c2b2b;
  font-size: 1.75rem;
  font-weight: 600;
  font-family: sans-serif;
  width: 98%;
  text-align: left;
  padding: 10%;
  margin: 0% 1%;
  font-family: 'Ramabhadra', sans-serif
}

.overlay p{
  font-size: 1.5rem;
  font-weight: 500;
  color: #292929;
}



.container2:hover .overlay {
  opacity: .90;
}

div.col-md-6{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1%;
  height: 75%;
  margin-top: 3%;
}

p.lead{
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.2rem;
  font-weight: 500;
}



/*projects page*/
div.container{
  padding: 0px;
  text-align: left;
}


img.rounded{
  width: 100%;
  padding: 2%;
}

.titles{
  font-family: 'Ramabhadra', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}


.titles p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: 15px;
}


a.nav-link{
  padding: 0px;
}



